<div class="col">
    <div class="row feature">
        <div class="col">
            @if (HasData)
            {
                <div class="row">
                    <div class="col feature-img">
                        <img src="/img/roadmap/@(Feature.Category.ToString().ToLower()).webp" draggable="false" alt="Feature Image" />
                        <div class="task-overlay">
                            <small>
                                @FeatureStatusString
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="feature-progression">
                            <div class="bar" style="width: @(Progress * 3.9D + "px");" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col feature-description">
                        <small>@(Feature.Description)</small>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col d-flex align-items-center not-added">
                        <small>This feature wasnt added on or before @SelectedDate.ToShortDateString()</small>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@inject ClientState State

@code {

    [Parameter]
    public RoadmapCard Card { get; set; }

    [Parameter]
    public RoadmapFeature Feature { get; set; }

    [Parameter]
    public List<DateTime> AvailableDates { get; set; }

    [Parameter]
    public DateTime SelectedDate { get; set; }

    public bool HasData { get; set; } = false;

    public int TaskCount { get; set; } = 0;
    public int TasksCompleted { get; set; } = 0;
    public double Progress { get; set; } = 0;
    public string FeatureStatusString { get; set; } = string.Empty;

    public RoadmapFeatureStatus Status { get; set; }
    public bool IsDataKnown { get; set; } = false;

    protected override void OnInitialized()
    {
        try
        {
            Status = Feature.Status[Feature.Status.Keys.Where(x => x <= SelectedDate).Reverse().First()];
            TaskCount = Feature.TaskCount[Feature.TaskCount.Keys.Where(x => x <= SelectedDate).Reverse().First()];
            TasksCompleted = Feature.TasksCompleted[Feature.TasksCompleted.Keys.Where(x => x <= SelectedDate).Reverse().First()];

            IsDataKnown = (Status != RoadmapFeatureStatus.Scheduled && TasksCompleted > 0) || Status == RoadmapFeatureStatus.Scheduled;

            Progress = Status == RoadmapFeatureStatus.InDevelopment ?
                100D * (double)TaskCount / (double)TasksCompleted :
                IsDataKnown ? 100D : 0D;

            FeatureStatusString = IsDataKnown ? "Tasks: " + (Status == RoadmapFeatureStatus.Released || Status == RoadmapFeatureStatus.Polishing ? TasksCompleted : TaskCount) + "/" + TasksCompleted + " | " +
                                (Progress < 100D ? Progress.ToString("0.00") + "% | " : string.Empty) + Feature.Status[Feature.Status.Keys.Where(x => x <= SelectedDate).Reverse().First()].ToString() :
                                        "Data Unknown | " + RoadmapFeatureStatus.Released.ToString();

            HasData = true;
        }
        catch (JSException e)
        {
            HasData = false;
        }
        catch (InvalidOperationException e)
        {
            HasData = false;
        }
        base.OnInitialized();
    }
}
