<div class="row footer">
    <div class="col">
        <small>Posted on @Entry.Date.ToShortDateString() at @Entry.Date.ToShortTimeString()</small>
    </div>
</div>

@code {

    [Parameter]
    public BlogEntryData Entry { get; set; }
}
