[submodule "BinaryStarLib"]
	path = BinaryStarLib
	url = https://github.com/Star-Athenaeum/BinaryStarLib
[submodule "bootstrap"]
	path = website_root_source_files/css/thirdparty/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "fontawesome"]
	path = website_root_source_files/css/thirdparty/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome
