<div class="col tool-nav">
    <h3>@Title</h3>
    <img src="/img/tools/@(Title.ToLower().Replace(" ", "-")).webp" draggable="false" alt="Tools Logo" />
    <small>@Description</small>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }
}
