@page "/"

<main id="index-container" class="container-fluid">
    <div id="header" class="row align-items-center">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <img src="/favicon.svg" draggable="false" alt="Logo" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Welcome to the Star Athenaeum Project</h4>
                    <small>
                        The Star Athenaeum Project is aiming to streamline and simplify all information about the Star Citizen Universe.
                    </small>
                    <small>
                        This does not include information which Cloud Imperium Games provide already in great detail like their Galatapedia.
                    </small>
                    <small>
                        The project is not affiliated with Cloud Imperium Games in any way.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        If you have any bug reports or suggestions, tweet &#64Stryxus or go to the projects Github and create an issue accordingly.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col warning">
                    <h6>
                        WARNING: The website is using experimental/preview tech, both server and client side. There will be some performance degredation until early 2021.
                    </h6>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col index-coming-soon">
                    <h5>
                        Current Major Plans:
                    </h5>
                    <ul>
                        <li>
                            <h6>Visual Branding And Structure Changes</h6>
                            <small>
                                Because the current branding and structural design of the website and project dont live up to the plans, in ways of immersion and preventing the feel of a plain old website, most of the visuals will be changing very soon.
                            </small>
                            <small>
                                This will take roughly a month soon after release of the website.
                            </small>
                        </li>
                        <li>
                            <h6>Star Gazer</h6>
                            <small>
                                The crown of all the projects (so far) is Star Gazer, the Google Earth-esk star map for Star Citizen.
                            </small>
                            <small>
                                You will be able to see pins for locations, review them, send photos and videos and such but thats not all,
                                there will be a coordination system also and an AI powered orbital photographer which will orbit around each planet and moon in 512 angles, it will do this by recording all orbits (under the cloud layer) in
                                24fps at 4K, this videos will then be saved as a PNG per frame and stitched together into one massive sphere image map, to then finally be segmented (Because you dont want to download a mega
                                resolution image do you?).
                            </small>
                            <small>
                                This project will be available in the Microsoft Store and Android Play Store. iOS's development requirements are very expensive.
                            </small>
                            <small>
                                If CIG ever expose the required data, i will also implement an economics system into this.
                            </small>
                            <small>
                                DETAILS ABOUT THIS PROJECT WILL CHANGE OVER TIME. IT IS ALSO A HUGE RESEARCH PROJECT.
                            </small>
                        </li>
                        <li>
                            <h6>Tri-Transport</h6>
                            <small>
                                An exterior and interior vehicle viewer, you can configure a vehicle and see its statistics as well as what it will look like.
                            </small>
                            <small>
                                This will have integration with Star Gazer for things like estimating costs for flight path planning and such.
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col index-coming-soon">
                    <h5>
                        Current Minor Plans:
                    </h5>
                    <ul>
                        <li>
                            <h6>Push Notifications</h6>
                            <small>
                                Push Notifications are the things you recieve on a system level, they are the notifications which appear at the side on Windows 10 or at the top on Android/iOS. Due to unforseen complexity, this was delayed but will be available soon.
                            </small>
                        </li>
                        <li>
                            <h6>Roadmap Graphs and Statistics Additions</h6>
                            <small>
                                The roadmap will soon contain many graphs and overall statistics as well as comparison statistics in one simple to use 'statistics drawer'.
                            </small>
                        </li>
                        <li>
                            <h6>Mobile Support</h6>
                            <small>
                                Due to the complexity of the website, mobile support is going to take longer than expected due to entire code base shifts, partially remaking the UI structure and dealing with a much smaller space.
                            </small>
                        </li>
                        <li>
                            <h6>Eco/Battery Saver Mode</h6>
                            <small>
                                The website contains some rather intensive things like 'backdrop-filter' which can be highly GPU intensive depending on the resolution. Eco mode is aimed at sacraficing quality for battery life quantity.
                            </small>
                        </li>
                        <li>
                            <h6>Page Parameters</h6>
                            <small>
                                If you want to show other people something specific like comparing 3.10 to 3.1 then you will be able to do something along the lines of 'https://ueesa.net/roadmap?c1=310&c2=3100'.
                            </small>
                        </li>
                        <li>
                            <h6>Themes</h6>
                            <small>
                                Not too keen on the current theme? The website will soon have a collection of themes based on each major in-lore organisation within the Star Citizen Universe.
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

@code
{

}
