@page "/tools"

<main id="tools-container" class="container-fluid">
    <div class="row justify-content-center">
        <ToolsNavigationButton Title="Star Gazer" Description="COMING SOON - The universe within an easy to use, and highly detailed star map." />
        <ToolsNavigationButton Title="Tri-Transport" Description="COMING SOON - Want to compare ships? Want to compare components? or do you simply just want to look at ships?" />
    </div>
</main>

@code {

}
