// BEGIN-Min-Width

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

// Desktop

@include media-breakpoint-up(lg) {

    #index-page {

        & > .col-auto {
            width: 1000px;

            & > .row {
                clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
                align-items: center;
                justify-content: center;
                margin-bottom: -150px;
                min-height: 200px;

                p {
                    text-align: center;
                }

                &:nth-child(1), &:nth-child(3) {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    height: 100px !important;
                }

                &:nth-child(1) {
                    background-color: $colour-grey-3-trans-high;
                    margin-bottom: 50px;
                }

                &:nth-child(2) {
                    background-color: $colour-grey-3-trans-low;
                    margin-top: -200px;
                    padding-top: 200px;
                    padding-bottom: 200px;

                    & > .col-auto {
                        img {
                            width: 800px;
                        }
                    }
                }

                &:nth-child(3) {
                    margin-top: 45px;
                    background-color: $colour-grey-3-trans-high;
                }

                &:last-child {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
}

// END-Min-Width

// BEGIN-Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

// Desktop

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}

// END-Max-Width

// BEGIN-Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

// Desktop

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

// END-Width-Exclusivity