<div class="col">
    <GameUpdateCardCategoryItemFrame Title="Patch List">
        <GameUpdateCardInformationPatchList Card="@Card" />
    </GameUpdateCardCategoryItemFrame>
    <GameUpdateCardCategoryItemFrame Title="Statistics">
        <GameUpdateCardInformationStatistics Card="@Card" AvailableDates="AvailableDates" SelectedDate="SelectedDate" />
    </GameUpdateCardCategoryItemFrame>
</div>

@code {

    [Parameter]
    public RoadmapCard Card { get; set; }

    [Parameter]
    public List<DateTime> AvailableDates { get; set; }

    [Parameter]
    public DateTime SelectedDate { get; set; }
}
