<div id="notifications" class="row">
    <div class="col">
        <div class="row justify-content-end info">
            <div class="col">
                @foreach (NotificationMessage msg in State.NotificationMessages)
                {
                    if (msg.Severity == 0)
                    {
                        <small @onclick="() => State.DismissNotification(msg)">@msg.Message</small>
                    }
                }
            </div>
        </div>
        <div class="row justify-content-end warn">
            <div class="col">
                @foreach (NotificationMessage msg in State.NotificationMessages)
                {
                    if (msg.Severity == 1)
                    {
                        <small @onclick="() => State.DismissNotification(msg)">@msg.Message</small>
                    }
                }
            </div>
        </div>
        <div class="row justify-content-end alert">
            <div class="col">
                @foreach (NotificationMessage msg in State.NotificationMessages)
                {
                    if (msg.Severity == 2)
                    {
                        <small @onclick="() => State.DismissNotification(msg)">@msg.Message</small>
                    }
                }
            </div>
        </div>
    </div>
</div>

@inject ClientState State

@code {        

    protected override Task OnInitializedAsync()
    {
        State.OnNotificationsUpdate += StateHasChanged;
        return base.OnInitializedAsync();
    }
}
