@inherits ComponentBase

<nav class="row">
    <div class="col">
        <ul>
            <li class="left">
                <NavLink draggable="false" href="/blog" Match="NavLinkMatch.All"><p>Blog</p></NavLink>
            </li>
            <li class="left">
                <NavLink draggable="false" href="/roadmap" Match="NavLinkMatch.All"><p>Roadmap</p></NavLink>
            </li>
            <li class="middle">
                <NavLink draggable="false" href="/" Match="NavLinkMatch.All">
                    <img src="/favicon.svg" draggable="false" alt="Logo" />
                </NavLink>
            </li>
            <li class="right">
                <NavLink draggable="false" href="/tools" Match="NavLinkMatch.All"><p>Tools</p></NavLink>
            </li>
            <li class="right">
                <NavLink draggable="false" href="/media" Match="NavLinkMatch.All"><p>Media</p></NavLink>
            </li>
        </ul>
        <button id="settings-button" class="buttons @(State.IsSettingsPanelVisible ? "active" : string.Empty)" draggable="false" title="Website Settings." @onclick="() => State.ToggleSettingsPanelVisibility()">
            <i class="fas fa-cog"></i>
        </button>
        <a id="donation-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SPRHXCHF5KWLY" draggable="false" title="Donating via Paypal helps keep the project alive as well as help make new projects!">
            <small>Support the project!</small>
        </a>
    </div>
</nav>

@inject ClientState State

@code {

    private static string ControlsMessage = "Scrollbars are so last decade... So, there are none! Touch and mouse controls are unchanged but with mouse, you cant scroll horizontally so in order to do this, hold SHIFT while scrolling.";
}
