
// Min-Width
@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
    #index-container {
        background-color: $background-color-black;
        backdrop-filter: $backdrop-blur;

        #header {
            text-align: center;
            height: 100%;

            & > .col {
                padding-top: 100px;
                padding-bottom: 200px;
            }

            img {
                width: 250px;
                height: 250px;
                margin: 50px;
            }

            h4 {
                letter-spacing: 2px;
            }

            small {
                display: block;
                margin-top: 8px;
                margin-bottom: 8px;
            }

            .index-coming-soon {
                text-align: left;
                width: 50%;
                min-width: 500px;
                flex-grow: unset;
                flex-shrink: unset;
                flex-basis: unset;

                h6 {
                    margin-top: 25px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
}

// Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}

// Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}
