$releasedColour: rgb(0, 50, 0);
$polishingColour: rgb(50, 50, 0);
$devColour: rgb(50, 0, 0);
$scheduleColour: rgb(50, 50, 50);
$colourTransparency: 0.4;
$borderRadius: 10px;

// Min-Width
@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {

    .game-update-card {
        width: 400px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: $background-color-blue-2;
        backdrop-filter: $backdrop-blur;
        overflow: hidden;
        border-left: $border;
        border-right: $border;

        &.released {

            .header {
                background-color: rgba($releasedColour, $colourTransparency);
            }
        }

        &.dev {

            .header {
                background-color: rgba($devColour, $colourTransparency);
            }
        }

        &.evocati {

            .header {
                background-color: rgba($scheduleColour, $colourTransparency);
            }
        }

        &.ptu {

            .header {
                background-color: rgba($polishingColour, $colourTransparency);
            }
        }

        @keyframes updated-animation {
            0% { backdrop-filter: hue-rotate(0deg); }
            50% { backdrop-filter: hue-rotate(160deg) saturate(300%); }
            100% { backdrop-filter: hue-rotate(0deg); }
        }

        .updated {
            animation-name: updated-animation;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }

        .header {
            background-color: rgba(0, 0, 0, 0.25);
            border-bottom: $border;
            position: relative;

            .title {
                font-family: "Zebulon";
                font-weight: lighter;
                text-align: center;

                h5 {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }

            .status {
                position: absolute;
                margin-left: 12px;
                margin-right: 6px !important;
                right: 6px;
                bottom: 6px;
                text-align: right;
                font-weight: 400;
                display: block;
            }
        }

        .body {
            overflow-y: scroll;
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            padding: 0px;
            margin: 0px;

            & > .col:last-child {
                margin-bottom: $navbar-height + $footer-height + 16 + px;
            }

            .col {
                padding: 0px;
            }

            .row {
                margin: 0px;
            }

            hr {
                border-top: 5px solid rgba($color-blue, 0.25);
                border-bottom: none;
                border-left: none;
                border-right: none;
                height: 0px;
                margin: 0px;
            }

            .section-category-frame {

                &.section-item-important {
                    
                    .section-title {
                        background-color: $background-color-black;
                    }

                    .section-line {
                        background-color: $background-color-black;
                    }

                    .section-item-frame-line {
                        background-color: $background-color-black;
                    }

                    .section-item-frame-title {
                        background-color: $background-color-black;
                    }

                    .section-item-body {
                        
                        & > .col > .row > .col, & > .col > .row > .col-4, & > .col > .row > .col > .row > .col, & > .col > .row > .col > .row > .col-4 {

                            small {
                                padding-top: 6px;
                                padding-bottom: 6px;
                            }
                        }
    
                        & > .col > .row > .col, & > .col > .row > .col > .row > .col {
                            background-color: rgba($color-blue, 0.5);
                            backdrop-filter: brightness(-40%);
    
                            small {
                                padding-left: 6px;
                                padding-right: 6px;
                            }
                        }
    
                        & > .col > .row > .col-4, & > .col > .row > .col > .row > .col-4 {
                            background-color: rgba($color-blue, 0.25);
                            backdrop-filter: brightness(-40%);
    
                            small {
                                text-align: right;
                                padding-left: 0px;
                                padding-right: 0px;
                            }
                        }
                    }
                }

                .section-item-frame.section-item-important {

                    .section-item-body {

                        & > .row {
                            padding: 0px;
                        }

                        & > .row > .col > .row > .col, & > .row > .col > .row > .col-4 {

                            small {
                                padding-top: 6px;
                                padding-bottom: 6px;
                            }
                        }
    
                        & > .row > .col > .row > .col {
                            background-color: rgba($color-blue, 0.5);
                            backdrop-filter: brightness(-40%);
    
                            small {
                                padding-left: 6px;
                                padding-right: 6px;
                            }
                        }
    
                        & > .row > .col > .row > .col-4 {
                            background-color: rgba($color-blue, 0.25);
                            backdrop-filter: brightness(-40%);
    
                            small {
                                text-align: right;
                                padding-left: 0px;
                                padding-right: 0px;
                            }
                        }
                    }
                }
                
                .section-line, .section-item-frame-line {
                    width: 5px;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .section-line {
                    background-color: rgba($color-blue, 0.5);
                }

                .section-item-frame-line {
                    background-color: rgba($color-blue, 0.25);
                }

                i {
                    font-size: 11px;
                }

                .section-title {
                    background-color: rgba($color-blue, 0.5);
                    cursor: pointer;

                    h6 {
                        text-align: left;
                        padding-top: 8px;
                        padding-bottom: 6px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        letter-spacing: 0.75px;
                        font-weight: 200;
                    }
                }

                .section-item-frame-title {
    
                    .col, .col-auto {
                        background-color: rgba($color-blue, 0.25);
                    }

                    h6 {
                        background-color: rgba($color-blue, 0.25);
                        text-align: left;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        letter-spacing: 0.75px;
                        font-weight: 200;
                        font-size: 14px;
                    }
                }

                .category {

                    .feature {

                        .not-added {
                            background-color: $devColour;

                            small {
                                padding: 8px;
                            }
                        }

                        .feature-img {
                            position: relative;

                            img {
                                width: 100%;
                                height: 225px;
                                object-fit: cover;
                                display: block;
                            }
    
                            .task-overlay {
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                                backdrop-filter: $backdrop-blur;
                                background-color: $background-color-blue;

                                small {
                                    display: block;
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    font-weight: 200;
                                    font-size: 12px;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    letter-spacing: 0.75px;
                                }
                            }
                        }

                        .feature-progression {
                            height: 8px;
                            width: 100%;

                            .bar {
                                height: 8px;
                                background-color: $background-color-gold;
                            }
                        }

                        .feature-description {

                            small {
                                display: block;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                padding-left: 15px;
                                padding-right: 15px;
                                font-weight: 200;
                                font-size: 12px;
                                background-color: rgba($color-blue-2, 0.75);
                                letter-spacing: 0.75px;
                            }
                        }
                    }
                }
            }
        }

        .tools {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 50px;
            padding-left: 12px;
            padding-right: 12px;
            border-top: $border;
            background-color: $background-color-blue;
            backdrop-filter: $backdrop-blur;

            .col, .col-auto {
                padding: 0px;
            }

            .collapse-button {
                width: 50px;
            }

            small {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 10px;
                margin-right: 10px;
            }

            button {
                width: 50px;
                height: 50px;
                border: none;
                background-color: $background-color-blue-2;
                backdrop-filter: none;
                border-left: $border;

                &:hover {
                    background-color: $background-color-blue-2;
                }

                i {
                    font-size: 16px;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
}

// Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}

// Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}
