nav {
    z-index: 1000000;
    letter-spacing: 1px;
    overflow: hidden;
    color: white;

    a {
        color: white !important;
    }
}

// Min-Width
@include media-breakpoint-up(xs) {

}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
    nav {
        font-weight: lighter;
        height: $navbar-height + px;
        background-color: $background-color-blue;
        backdrop-filter: $backdrop-blur;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        border-bottom: 1px solid $background-color-blue-2;

        ul {
            list-style: none;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: auto;
            margin-right: auto;
            padding: 0px;
            display: table;
            height: $navbar-height + px;

            li {
                float: left;
                height: $navbar-height + px;

                &.left {
                    margin-right: 15px;

                    a {
                        transform: rotate(-20deg) translateY(-($navbar-height / 2) + px);
                    }

                    p {
                        transform: rotate(20deg);
                    }
                }

                &.middle {
                    margin-left: -10px;
                    margin-right: -10px;

                    a {
                        border-bottom: 100px solid transparent;
                        border-left: 35px solid transparent;
                        border-right: 35px solid transparent;
                        transform: rotateX(180deg);
                        height: 0px;
                        width: 60px;

                        img {
                            display: list-item;
                            position: absolute;
                            top: 38px;
                            left: 50%;
                            width: 36px;
                            height: 36px;
                            transform: rotateX(180deg) translateX(-50%) translateY(-50%);
                        }

                        &.active {
                            border-bottom-color: $background-color-blue-2;
                        }
    
                        &:hover {
                            border-bottom-color: $background-color-blue-2;
                        }
                    }
                }

                &.right {
                    margin-left: 15px;

                    a {
                        transform: rotate(20deg) translateY(-($navbar-height / 2) + px);
                    }

                    p {
                        transform: rotate(-20deg);
                    }
                }

                &.left, &.right {

                    a.active, a.active {
                        background-color: $background-color-blue-2;
                    }
    
                    a:hover, a:hover {
                        background-color: $background-color-blue-2;
                    }
                }

                a {
                    height: $navbar-height * 1.925 + px;
                    width: 100px;
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 14px;
                    font-weight: 200;
                    text-decoration: none;
                    text-align: center;

                    p {
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }
        }

        .buttons {
            transform: rotate(20deg) translateY(-50%);
            position: absolute;
            top: 50%;
            width: 75px;
            height: 200px;
            border: none;
            outline: none;
            background-color: $background-color-blue-2;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 20px;

            &:hover {
                background-color: rgba(200, 0, 0, 0.4);
            }

            i {
                transform: rotate(-20deg) translateY(-88%);
                position: absolute;
                top: 50%;
                left: 32px;
            }

            &.active {
                background-color: rgba(100, 0, 0, 0.6);
            }
        }

        #settings-button {
            right: 244px;

            i {
                left: 33px;
            }
        }

        #battery-button {
            filter: saturate(0%) brightness(50%);

            right: 334px;

            i {
                left: 33px;
            }
        }

        #controls-button {
            right: 424px;
        }

        #donation-button {
            transform: rotate(20deg) translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0px;
            width: 225px;
            height: 200px;
            background-color: $background-color-blue-2;
            cursor: pointer;
            color: white;
            text-decoration: none;

            &:hover {
                background-color: rgba(255, 196, 58, 0.4);
            }

            small {
                transform: rotate(-20deg) translateY(-50%);
                position: absolute;
                top: 51.25%;
                left: 26px;
                text-align: center;
                font-weight: 200;
            }
        }
    }
}

@include media-breakpoint-up(xl) {

}

// Max-Width

@include media-breakpoint-down(xs) {

}

@include media-breakpoint-down(sm) {

}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(lg) {

}

// Width-Exclusivity

@include media-breakpoint-only(xs) {

}

@include media-breakpoint-only(sm) {

}

@include media-breakpoint-only(md) {

}

@include media-breakpoint-only(lg) {

}

@include media-breakpoint-only(xl) {

}
