@inherits ComponentBase

<footer id="footer" class="row align-items-center">
    <div class="col d-flex justify-content-start align-items-center">
        <small>
            Powered by <a class="poweredby-link" href="https://azure.microsoft.com/" target="_blank" rel="noreferrer noopener" draggable="false">Azure</a>,
            <a class="poweredby-link" href="https://dotnet.microsoft.com/" target="_blank" rel="noreferrer noopener" draggable="false">.NET 5</a> and
            <a class="poweredby-link" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank" rel="noreferrer noopener" draggable="false">Blazor</a>
        </small>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <small>@("v" + References.YearVersion + "." + References.MonthVersion + "." + References.DayVersion)</small>
    </div>
    <div id="footer-social-links" class="col-auto">
        <div class="row">
            <div class="col-auto">
                <a target="_blank" rel="noreferrer nofollow" href="https://robertsspaceindustries.com/orgs/UEESA">
                    <i class="fas fa-globe-europe"></i>
                </a>
            </div>
            <div class="col-auto">
                <a target="_blank" rel="noreferrer nofollow" href="https://discord.gg/prMBNeC">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
            <div class="col-auto">
                <a target="_blank" rel="noreferrer nofollow" href="https://twitter.com/Stryxus">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="col-auto">
                <a target="_blank" rel="noreferrer nofollow" href="https://github.com/Star-Athenaeum">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="col-auto">
                <a target="_blank" rel="noreferrer nofollow" href="https://www.youtube.com/playlist?list=PLp1q-omKxjqAPEoy_-XDa_2fsM18aXob4">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-end align-items-center" style="pointer-events: none;">
        <small>&copy; Connor 'Stryxus' Shearer @(DateTime.Now.Year)</small>
    </div>
</footer>

@code {

}
