<nav id="main-nav" class="container-fluid">
    <div class="row">
        <div class="corner-background"></div>
        <div class="bordered-line-above"></div>
        <div class="bordered-line-patch"></div>
        <div class="discord-icon">
            <a target="_blank" rel="noreferrer nofollow" href="https://discord.gg/prMBNeC">
                <i class="fab fa-discord"></i>
            </a>
        </div>
        <div class="twitter-icon">
            <a target="_blank" rel="noreferrer nofollow" href="https://twitter.com/Stryxus">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="github-icon">
            <a target="_blank" rel="noreferrer nofollow" href="https://github.com/Star-Athenaeum">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="headline-ticker">
            <div class="col-auto headline-ticker-title">
                <h6>Headlines</h6>
            </div>
            <div class="col headline-ticker-content">
                <div class="row">
                    <div class="col-auto">
                        <h6></h6>
                    </div>
                    <div class="col-auto"></div>
                </div>
            </div>
        </div>
        <div class="economy-ticker">
            <div class="col economy-ticker-title">
                <h6>Economy</h6>
            </div>
            <div class="col economy-ticker-content">
                <div class="row">
                    <div class="col-auto">
                        <h6>Econome coming soon!</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>2,603.62</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Agricium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>2,603.62</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Aluminium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>1,450.22</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Cobalt</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>3,591.59</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Copper</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>5,111.29</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Eriesium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>1,866.57</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Europium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>2,001.01</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Gold</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>4,501.18</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Lithium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>7,591.68</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Magnesium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>103.19</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Mercury</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>2,583.07</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Neodymium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>3,603.04</h6>
                    </div>
                    <div class="col-auto">
                        <h6>PLACEHOLDERS</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>2,603.62</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Polonium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>3,603.10</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Potassium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>293.01</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Praseodymium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>8,000.74</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Rubidium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>7,110.93</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Silicon</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>666.26</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Sodium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>6,696.59</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Thorium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>1,391.91</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Titanium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>3,999.35</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Tungsten</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>1,603.66</h6>
                    </div>
                    <div class="col-auto">
                        <h6>Uranium</h6>
                        <h6>+0.1%</h6>
                        <h6>+51.06%</h6>
                        <h6>1,294.99</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto logo-container">
            <NavLink draggable="false" href="/" Match="NavLinkMatch.All">
                <img src="/img/logo.svg" draggable="false" alt="Logo" />
            </NavLink>
        </div>
        <div class="col-auto bordered-line-v"></div>
        <div class="col">
            <div class="row">
                <div class="col bordered-line-h"></div>
            </div>
            <div id="main-nav-buttons" class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-auto">
                            <NavLink draggable="false" href="/news" Match="NavLinkMatch.All"><p>News</p></NavLink>
                        </div>
                        <div class="col-auto">
                            <NavLink draggable="false" href="/guides" Match="NavLinkMatch.All"><p>Guides</p></NavLink>
                        </div>
                        <div class="col-auto">
                            <NavLink draggable="false" href="/roadmap" Match="NavLinkMatch.All"><p>Roadmap</p></NavLink>
                        </div>
                        <div class="col-auto">
                            <NavLink draggable="false" href="/stargazer" Match="NavLinkMatch.All"><p>Star Gazer</p></NavLink>
                        </div>
                        <div class="col-auto">
                            <NavLink draggable="false" href="/tritransport" Match="NavLinkMatch.All"><p>Tri-Transport</p></NavLink>
                        </div>
                        <div class="col-auto">
                            <NavLink draggable="false" href="/tritransport" Match="NavLinkMatch.All"><p>Econome</p></NavLink>
                        </div>
                        <div class="col-auto">
                            <NavLink draggable="false" href="/changelog" Match="NavLinkMatch.All"><p>Changelog</p></NavLink>
                        </div>
                        <div class="col-auto">
                            <NavLink draggable="false" href="/about" Match="NavLinkMatch.All"><p>About</p></NavLink>
                        </div>
                    </div>
                </div>
                <div id="settings-button" class="col-auto">
                    <i class="fas fa-cog"></i>
                </div>
                <div id="id-card" class="col-auto">
                    <div class="row">
                        <div class="col">
                            <div id="id-card-name" class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <small>Citizen-59095694903</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <small>Profiles coming soon!</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="id-card-avatar" class="col-auto">
                            <img draggable="false" src="/img/avatar.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {

}
