<Router AppAssembly="@typeof(Startup).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h4 id="page-load-error">Uh oh! There seems to be an error loading this page!</h4>
        </LayoutView>
    </NotFound>
</Router>

@inject ClientState State
@inject JSSocketInterface SocketInterface

@code {


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await State.GetLocalData<GlobalSettings>();
        //await WebSockets.Connect(State);
        await SocketInterface.Connect();
        SocketInterface.OnServerConnected += async () =>
        {
            await State.RequestUpdateData();
        };
    }
}