$color-blue: rgb(91, 146, 229);
$color-blue-2: rgb(24, 36, 54);
$color-gold: rgb(218, 165, 32);
$navbar-height: 50;
$footer-height: 40;
$background-color-black: rgba(0, 0, 0, 0.6);
$background-color-white: rgba(255, 255, 255, 0.6);
$background-color-blue: rgba($color-blue, 0.6);
$background-color-blue-2: rgba($color-blue-2, 0.6);
$background-color-gold: rgba($color-gold, 0.6);
$backdrop-blur: blur(25px);
$border-radius: 8;
$border: 1px solid $background-color-blue;
$box-shadow-smooth: 0px 10px 50px -10px rgba(0, 0, 0, 0.75);
$box-shadow-sharp: 0px 15px 10px -10px rgba(0, 0, 0, 0.4);
$page-top-padding: $navbar-height;
$page-bottom-padding: $footer-height;

// Z-Index
$loading-ZIndex: 1000;
$navbar-ZIndex: 999;
$footer-ZIndex: 998;
$notifications-ZIndex: 997;
$settings-ZIndex: 996;
$changelog-ZIndex: 995;
$main-ZIndex: 0;

// Roadmap Z-Index
$statistics-drawer-ZIndex: 996;