@import "thirdparty/bootstrap/scss/bootstrap-grid";
@import "thirdparty/fontawesome/scss/fontawesome";
@import "thirdparty/fontawesome/scss/brands";
@import "thirdparty/fontawesome/scss/regular";
@import "thirdparty/fontawesome/scss/solid";

@import "variables";
@import "globalClasses";
@import "elements";

@import "components/mainNavigationBar";

@import "pages/index";
@import "pages/news";
@import "pages/roadmap";

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('/fonts/Roboto-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    src: url('/fonts/Roboto-ThinItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    src: url('/fonts/Roboto-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    font-style: italic;
    src: url('/fonts/Roboto-LightItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('/fonts/Roboto-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    src: url('/fonts/Roboto-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: italic;
    src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 800;
    src: url('/fonts/Roboto-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 800;
    font-style: italic;
    src: url('/fonts/Roboto-BlackItalic.woff2') format('woff2');
    font-display: swap;
}

* {
    user-select: none;
}

html {

}

body {
    background-color: $colour-grey-2;
    background-image: url("/img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: $colour-white;
    font-family: 'Roboto';
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
    width: 0px;
}

main {
    z-index: $zindex-main;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding: 0px !important;
    backdrop-filter: $backdrop-blur-heavy;

    & > .row {
        min-height: 100vh;

        &.no-scroll {
            height: 100vh !important;
            overflow-y: hidden !important;
        }
        
        &:not(.no-scroll) {
            padding-bottom: ($navigation-bar-height * 4.5) + px;
        }

        [class*='col-'].alt-scroll {
            padding-bottom: ($navigation-bar-height * 4.5) + px;
            overflow-y: scroll !important;
            height: 100vh;
        }
    }
}

// BEGIN-Min-Width

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

// Desktop

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
}

// END-Min-Width

// BEGIN-Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

// Desktop

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}

// END-Max-Width

// BEGIN-Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

// Desktop

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

// END-Width-Exclusivity