@page "/about"

<div id="about-page" class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="row">
            <div class="col-2">
                <img src="/img/logo.svg" draggable="false" alt="Stryxus" />
            </div>
            <div class="col bordered-line-v-alt">
                <h4>
                    The Star Athenaeum Project
                </h4>
                <p>
                    The Star Athenaeum Project is an ever expending place of learning for the use by the average player of Star Citizen and Squadron 42.
                    The project is aimed to provide as much information to the community as possible, either it be from Star Citizen or Squadron 42 or even anything else along the lines.
                    From a vast amount of tools from checking on the economic price of Quantanium to seeing if you can increase one of your ships weapons in dps, the StarAthenaeum project was always designed to provide as many tools as possible within the realm of possibility and practicality.
                </p>
                <h6>
                    Why was this project created?
                </h6>
                <p>
                    The Star Athenaeum Project was made because of the every growing complexity and variety within the Star Ciitzen Universe and in many cases, outside of it.
                    First, CIG has taken a very unique and often denounced approach for making a game. Their approach is iteratively warped by most of the community and it has grown many haters who natrually have degraded their own reasonability.
                    The Star Athenaeum Project is trying to simplify and clarify as much of this as possible.
                    Second, the Star Citizen Universe is ever growing in complexity and variety and quite a few people are struggling to keep up and learn, especially with the additional layer of the Star Citizen Universe being in its alpha stage which brings additional puzzles.
                    Star Athenaeum  is hosting tools which simplify much of this into easy to use, informative apps.
                </p>
                <h6>
                    What does this project hope to achieve in the future?
                </h6>
                <p>
                    The Star Athenaeum Project hopes to be the epicentre of all things Star Ciitzen unofficially. The project hopes to fix a lot of the hater plague which has been spread across much of the gaming community and provide ever lasting tools to the Star Citizen community.
                    Of course, the entire project is open source, anyone can contribute and it solidifies the projects place in the future since it wont be dependent on specific people.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="/img/about/stryxus.webp" draggable="false" alt="Stryxus" />
            </div>
            <div class="col bordered-line-v-alt">
                <h4>
                    About Connor 'Stryxus' Shearer
                </h4>
                <p>
                    Born 6th November 1998, raised by a family going through hell and back, a strong enthusiast about space and technology, trying to overcome disabilites, programmer and game lover.
                    My life hasnt been a kind one both physically and mentally but thats no excuse to hate the world. Instead, i have taken it upon my self to try help others and provide extreme amounts of work for free to everyone.
                </p>
                <h6>
                    Top 10 games
                </h6>
                <ul>
                    <li>Star Citizen and Squadron 42</li>
                    <li>Assasin's Creed: Odyssey</li>
                    <li>Assasin's Creed: Origins</li>
                    <li>Tom Clancy's Ghost Recon: Wildlands</li>
                    <li>Space Engineers</li>
                    <li>Fallout 4</li>
                    <li>Deus Ex: Human Revolution</li>
                    <li>Deus Ex: Mankind Divided</li>
                    <li>Elder Scrolls: Skyrim</li>
                    <li>Microsoft Flight Simulator 2020</li>
                </ul>
                <h6>
                    Programming languages known in skill order
                </h6>
                <ul>
                    <li>C#</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>Javascript</li>
                    <li>C</li>
                    <li>Python</li>
                    <li>Scala</li>
                    <li>Kotlin</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

@code {

}
