@page "/changelog"

<main id="blog-container" class="container-fluid">
    <div class="row">
        <div class="col">
            @if (State.ChangelogData != null)
            {
                @foreach (ChangelogEntryData b in State.ChangelogData.ChangelogPosts.Reverse<ChangelogEntryData>())
                {
                    <ChangelogPost Entry="@b" />
                }
            }
        </div>
    </div>
</main>

@inject ClientState State

@code {

    protected override async Task OnInitializedAsync()
    {
        State.OnChangelogDataChanged += StateHasChanged;
        await base.OnInitializedAsync();
    }
}
