@page "/donated"

<main id="donated-container" class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="https://media1.tenor.com/images/19ae6ed4daea4864a07369e90555f338/tenor.gif" width="400" draggable="false" crossorigin="anonymous" />
            <p>Thank you for donating. All money donated goes towards the development and upkeep of the project! Obviously, without our supporters, the project would struggle to exist. &hearts;</p>
        </div>
    </div>
</main>

@code {

}
