@page "/econome"

<div id="econome-page" class="row justify-content-center todo-page">
    <div class="col-auto">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3>Econome coming soon!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Todo List</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <ul>
                    <li>
                        <h6>Personal Finances</h6>
                        <p>A way to manage what you spend and earn, a way to record your transaction history.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
