@page "/"

<div id="index-page" class="row">
    <div class="col">
        <div id="index-header" class="row justify-content-center align-items-center">
            <div class="col-auto">

            </div>
            <div class="col-auto">
                <img draggable="false" src="/img/logo.svg" alt="Logo" />
            </div>
            <div class="col-auto">

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</div>

@code
{

}
