@page "/"

<div id="index-page" class="row justify-content-center align-items-center">
    <div class="col-auto">
        <div class="row left">
            <div class="col-auto">
                <img draggable="false" src="/img/index/index_banner.svg" alt="Logo" />
            </div>
        </div>
        <div class="row right">
            <div class="col-auto">
                <p>
                    The Star Athenaeum project is an educational and informative place for all things Star Citizen! From huge projects like the interactive intergalactic map 'Star Gazer' to an informative roadmap!
                    Look through every corner of the website to make use of all its features, you may just miss something! And while you are at it, join the discord for updates or if you want to contribute to the project!
                </p>
            </div>
        </div>
    </div>
</div>

@code
{

}
