@page "/"

<div id="index-page" class="row justify-content-center align-items-center">
    <div class="col-auto">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-auto">
                <img draggable="false" src="/img/index/index_banner.svg" alt="Logo" />
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>
                    The Star Athenaeum project is an educational and informative place for all things Star Citizen!
                </p>
            </div>
        </div>
    </div>
</div>

@code
{

}
