@page "/roadmap"

<div id="roadmap-page" class="row align-items-stretch">
    <div id="graph-coming-soon">
        <h3>Advanced Statistics Coming Soon</h3>
    </div>
    <div class="col">
        <div id="roadmap-cards" class="row align-items-stretch">
            @if (State.RoadmapData != null)
            {
                @foreach (RoadmapCard card in State.RoadmapData.Cards)
                {
                    <GameUpdateCard Card="card" />
                }
            }
        </div>
    </div>
</div>

@inject ClientState State

@code {

    protected override async Task OnInitializedAsync()
    {
        State.OnRoadmapCardDataChanged += StateHasChanged;
        await base.OnInitializedAsync();
    }
}